.boton {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #83309250;
  background-color: #833092;
  color: white;
  transition: all ease 0.2s;
  max-width: 60px;
  text-align: center;
  cursor: pointer;
}

.boton:hover {
  box-shadow: 0 8px 10px #00000050;
  transform: translateY(-5px);
}

.title {
  text-align: center;
}
